page-cookie {
    .cookie-align{
        position: relative;
        z-index: 2;
        margin-top: 64px;
        text-align: center;
    }

    .go-button{
        position: relative; 
    }

    .advice-text{
        //margin-top: 50px;
        text-align: center;
        font-size: 30px;
    }

    .tutorial{
        margin-top: 50px;
    }

    
}
